.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;

  &:focus {
    outline: none;
  }

  &.active {
    border-radius: 10px;
  }

  &:not(.active):hover {
    color: #fff;
    background-color: rgba(44, 62, 80, 0.7);
    border-radius: 10px;
  }
}
