button.nav-link {
    background: #e9ecef;
    border-radius: 0;
    border: none;

    &:focus {
      outline: none;
    }
    &.active:hover {
        color: white;
    }
    &:active {
        outline: none;
    }
    &:active:focus {
      outline: none;
    }
    &:disabled:not(.active) {
        color: #333;
    }
}
